<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.queenb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FAQActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AboutAs"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ambassadors"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".our_projects"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".FirstPageQuestions"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Finall"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ex4B"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ex4"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".FinalHTML"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ex3"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ex2"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Ex1"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".contact_us"
            android:screenOrientation="portrait">
        </activity>

        <uses-library
            android:name="com.google.android.things"
            android:required="false" />

        <activity android:name=".send_whatsapp" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>